In [16]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import operator
from collections import Counter

In [2]:
data = pd.read_csv("Social_Network_Ads.csv")
data

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

## Train test split

In [3]:
x_train, x_test, y_train, y_test = train_test_split(data.iloc[:, :-1].values, data.iloc[:, -1].values, test_size=0.2, random_state=42)

## Scaling

In [4]:
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [13]:
class KNearestNeighbours:
    def __init__(self, k):
        self.k = k
        
    def fit(self, x_train, y_train):
        self.x_train = x_train
        self.y_train = y_train
        
    def predict(self, x_test):
        distance = {}
        count = 0
        
        for i in self.x_train:
            distance[count] = np.sqrt(np.sum(np.square(x_test-i)))
            count += 1
        
        distance = sorted(distance.items(), key=operator.itemgetter(1))
        return self.classify(distance[:self.k])
        
    def classify(self, distance):
        labels = []
        
        for i in distance:
            labels.append(self.y_train[i[0]])
        return Counter(labels).most_common()[0][0]

In [15]:
knn = KNearestNeighbours(5)
knn.fit(x_train_scaled, y_train)

def predict_new():
    age = int(input("Enter age : "))
    salary = int(input("Enter salary : "))
    x_new = np.array([age, salary]).reshape(1,2)
    
    x_new = scaler.transform(x_new)
    result = knn.predict(x_new[0])
    
    if result == 1:
        print("Will purchase")
    else:
        print("Will not purchase")

predict_new()

Enter age : 20
Enter salary : 40000
Will not purchase